
body{

    background-color: black;
    color: white;

}

.linha{

    margin-top: 8px;
    width: 335px;
    height: 4px;
    background: linear-gradient(to right, white, white, black, black, white ,white);

}


.tudo{
    background-color: white;

}

.hero {
  position: relative;
  height: 30vh;
}

/* Camada do carrossel */
.slider {
  position: absolute;
  display: flex;
  height: 100%;
  animation: slide 5s linear infinite;
  margin-top: 2px;
}

.slider img {
  width: 50v;
  height: 60%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;

}

/* Overlay pra leitura */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}