
body{

    background-color: black;
    color: white;

}

.linha{

    margin-top: 8px;
    width: 335px;
    height: 4px;
    background: linear-gradient(to right, white, white, black, black, white ,white);

}


.hero {
  position: relative;
  height: 50vh; /* DEFINE O ESPAÇO */
  overflow: hidden;
}

/* wrapper absoluto que NÃO ocupa layout */
.sliders-bg {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

.a {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  z-index: 2;
  pointer-events: none;
  height: 110%;
}

/* cada linha */
.slider-row {
  overflow: hidden;
  height: 30%;
}

/* animação */
.slider {
  display: flex;
  width: max-content;
  animation: slide 4s linear infinite;
  margin-top: 1px;
}

.slider.reverse {
  animation-direction: reverse;

}

.slider img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* conteúdo real */
.content {
  position: relative;
  z-index: 3;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}