
.hero4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 2300px;
  overflow: hidden;

  z-index: 20;
  background-color: rgb(255, 255, 255);
}


.hero4-2{

    height: 2300px;
    width: 100vw;
    z-index: 10;
    margin-top: 100px;
}

.serv{
    background-color: #270233;
    width: 360px;
    height: auto;
}

