.hero3{
  width: 100vw;
  height: 1690px;
  position: relative;
  height: auto;
  min-height: 100svh;
  overflow: visible;

}

.linhaHero3{
  width: 1px;
  height: 1490px;
}

.a{
  width: 180vw;
  height: 100px;
}