.hero5pc{

    background-color: rgb(255, 253, 253);
    height: 430px;

}

.slidepc{
    cursor: pointer;
    height: 360px;
    width: 320px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.158);
}

.imgpc{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}