.hero3{
  width: 100%;
  position: relative;

  min-height: 280vh;
  height: auto;

  overflow: hidden;   /* ESSENCIAL */
}

.linhaHero3{
  width: 1px;
  height: 1857px;
}

.a{
  width: 180vw;
  height: 100px;
}