.hero2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100svh;
  overflow: visible;
  opacity: 0;
  animation: aparecer 1.2s ease-out forwards;
  animation-delay: 1.6s;
  z-index: 20;
}



 @media (min-width: 340px) and (max-width: 395px) {
 .hero2{

  min-height: 105vh;

 }  

}
 @media (min-width: 396px) {
 .hero2{

  min-height: 75vh;

 }  

}

  

.part1{
  margin-top: 50px;

}

.textp1{
  margin: 0 12%;
}

.animation-text{
  animation: textColor 2s ease-out forwards;
  animation-delay: 3s;
  color: rgb(255, 253, 253);
}

.animation-text::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #8c19b3;
  margin-top: 76px;
  width: 340px;
  height: 30px;

  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;

  animation: bgGrow 2s ease-out forwards;
  animation-delay: 3s;
}


.button {
  position: relative;
  padding: 20px;
  background: #000;
  border-radius: 16px;
  color: white;
}


.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* espessura da borda */
  background: linear-gradient(90deg, #8b5cf6, #280074);
  border-radius: 16px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

@media (max-width: 600px) {
  
  .linha{

    margin-top: 8px;
    width: 70%;
    height: 4px;
    background: linear-gradient(to right, white, white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), white ,white);

}

  .linhaBranco{

    margin-top: 8px;
    width: 75%;
    height: 4px;
    background: linear-gradient(to right, rgb(55, 1, 80), rgb(55, 1, 80), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(55, 1, 80) ,rgb(55, 1, 80));

}

}

.description{

  width: 70%;
  margin-top: 10px;
  

}

.text{

  color: #000000;
  font-size: 13px;

}

@keyframes textColor {
  to {
    color: white;
  }
}

/* FUNDO */
@keyframes bgGrow {
  to {
    transform: scaleX(1);
  }
}


/*Parte Artes*/

.part2{
   height: 270vh;
}

.buttonEscuro{

  background: linear-gradient(to right, #7C5E8D, #9d37d4, #ae4de2);

}

