.hero3{
  width: 100vw;
  height: 180vh;
  position: relative;

}

.hero3{
  width: 100vw;
  height: 180vh;
  position: relative;

}


.linhaHero3{
  width: 1px;
  height: 160vh;
}

.a{
  width: 180vw;
  height: 100px;
}