.hero3pc{
  width: 100%;
  position: relative;

  min-height: 1950px;
  height: auto;

  overflow: hidden;   /* ESSENCIAL */
}

.linhaHero3pc{
  width: 1px;
  height: 1590px;
}

.a{
  width: 180vw;
  height: 100px;
}