.hero2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 600px;

  overflow: hidden; /* ← ESSENCIAL */
  opacity: 0;

  animation: aparecer 1.2s ease-out forwards;
  animation-delay: 1.6s;
  z-index: 100;
}


.part1{
  margin-top: 50px;
  max-width: 500px;

}

.textp1{
  margin: 0 12%;
}

.animation{
    animation: textColor 2s ease-out forwards;
}

.animation-text {
  position: relative;
  display: inline-block;
  z-index: 0;          /* cria contexto próprio */
}

.animation-text::before {
  content: "";
  position: absolute;
  inset: -2px -6px;
  background-color: #4d1d5e;

  transform: scaleX(0);
  transform-origin: left;

  z-index: -1;          /* NÃO negativo */
  pointer-events: none;

  animation: bgGrow 2s ease-out forwards;
  animation-delay: 3s;
}


.button {
  position: relative;
  padding: 20px;
  background: #000;
  border-radius: 16px;
  color: white;
}


.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* espessura da borda */
  background: linear-gradient(90deg, #7a52da, #2909b9);
  border-radius: 16px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}



  
  .linha{

    margin-top: 8px;
    width: 70%;
    height: 4px;
    background: linear-gradient(to right, white, white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), white ,white);

}

  .linhaBranco{

    margin-top: 8px;
    width: 75%;
    height: 4px;
    background: linear-gradient(to right, rgb(55, 1, 80), rgb(55, 1, 80), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(55, 1, 80) ,rgb(55, 1, 80));

}


.description{

  width: 70%;
  margin-top: 10px;
  

}

.text{

  color: #000000;
  font-size: 13px;

}

@keyframes textColor {
  to {
    color: rgb(255, 255, 255);
  }
}

/* FUNDO */
@keyframes bgGrow {
  to {
    transform: scaleX(1);
  }
}


/*Parte Artes*/

.part2{

  height: 2300px;


}


