
.hero4{
    background-color: black;
    height: auto;
    min-height: 100svh; 
    overflow: visible;
    width: 100vw;
    z-index: 10;
    position: relative;
}



.hero4-2{

    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    margin-top: 150px;
}

.serv{
    background-color: #270233;
    width: 340px;
    height: auto;
}

