

@media (min-width:1000px) and (max-width: 1295px) {
.hero4pc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 1650px;
  overflow: hidden;

  z-index: 20;
  background-color: rgb(0, 0, 0);
}


.hero4-2pc{

  height: 1750px;
    width: 100vw;
    z-index: 10;
    margin-top: 100px;
}

.servpc{
    background-color: #270233;
    width: 360px;
    height: auto;
}
}

@media (min-width:1296px){
.hero4pc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 1000px;
  overflow: hidden;

  z-index: 20;
  background-color: rgb(0, 0, 0);
}


.hero4-2pc{

    height:1000px;
    width: 100vw;
    z-index: 10;
    margin-top: 100px;
}

.servpc{
    background-color: #270233;
    width: 360px;
    height: auto;
}

}