

.hero {
  background: radial-gradient(circle at top, #270233, #2d0b3f, #471363);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  position: relative;
  z-index: 10;
  
}


/* FAROL */

.farol{
  margin-top: -65%;
  margin-left: 1.4%;
  width: 210px;
}

@media (min-width: 340px) and (max-width: 375px) {
  .feixe {
  position: absolute;
  top: -21.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}

}


@media (min-width: 376px) and (max-width: 395px) {
  .feixe {
  position: absolute;
  top: -22.8vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 396px) and (max-width: 430px) {
  .feixe {
  position: absolute;
  top: -22.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 431px) and (max-width: 470px) {
  .feixe {
  position: absolute;
  top: -24.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 471px) and (max-width: 500px) {
  .feixe {
  position: absolute;
  top: -25vh;
  left: 49.4%;
  width: 150%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 501px) and (max-width: 540px) {
  .feixe {
  position: absolute;
  top: -26.5vh;
  left: 49.4%;
  width: 150%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 541px) and (max-width: 610px) {
  .feixe {
  position: absolute;
  top: -27vh;
  left: 49.4%;
  width: 140%;
  height: 98%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 571px) and (max-width: 610px) {
  .feixe {
  position: absolute;
  top: -29vh;
  left: 49.4%;
  width: 140%;
  height: 98%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}



/* FEIXE DE LUZ */

.texto {
  margin-top: 40px;
  text-align: center;
  color: white;
  margin-top: 43%;
  opacity: 0;
  transform: translateY(20px);

  animation: aparecer 1.2s ease-out forwards;
  animation-delay: 1.6s; 
}


.texto h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font: bolder;
}

.texto h2 {
  color: #a255eb;
  font-weight: bold;
}

.texto span {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ANIMAÇÕES */
@keyframes feixe {
  0% {
    transform: rotate(-15deg);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: rotate(90deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    opacity: 1;
  }
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes luz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




