

.hero {
  background: radial-gradient(circle at top, #270233, #2d0b3f, #471363);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  position: relative;
  
}


/* FAROL */

.farol{
  margin-top: -65%;
  margin-left: 1.4%;
  width: 210px;
}

@media (min-width: 340px) and (max-width: 375px) {
  .feixe {
  position: absolute;
  top: -21.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}

}


@media (min-width: 376px) and (max-width: 395px) {
  .feixe {
  position: absolute;
  top: -22.8vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 396px) and (max-width: 430px) {
  .feixe {
  position: absolute;
  top: -22.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 431px) and (max-width: 470px) {
  .feixe {
  position: absolute;
  top: -24.3vh;
  left: 49.4%;
  width: 170%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 471px) and (max-width: 500px) {
  .feixe {
  position: absolute;
  top: -25vh;
  left: 49.4%;
  width: 150%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 501px) and (max-width: 540px) {
  .feixe {
  position: absolute;
  top: -26.5vh;
  left: 49.4%;
  width: 150%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 541px) and (max-width: 610px) {
  .feixe {
  position: absolute;
  top: -27vh;
  left: 49.4%;
  width: 140%;
  height: 98%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}

@media (min-width: 571px) and (max-width: 610px) {
  .feixe {
  position: absolute;
  top: -29vh;
  left: 49.4%;
  width: 140%;
  height: 98%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.808),
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0)
  );

  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: left center;

  opacity: 0;
  animation: feixe 4s ease-in-out forwards ;
  z-index: 1;
}  

}



/* FEIXE DE LUZ */

.texto {
  margin-top: 40px;
  text-align: center;
  color: white;
  margin-top: 43%;
  opacity: 0;
  transform: translateY(20px);

  animation: aparecer 1.2s ease-out forwards;
  animation-delay: 1.6s; 
}

.akira{
  font-family: "Akira", "sans-serif";
}

.nelius{
  font-family: "Neulis", "sans-serif";

}

.texto h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font: bolder;
}

.texto h2 {
  color: #a255eb;
  font-weight: bold;
}

.texto span {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ANIMAÇÕES */
@keyframes feixe {
  0% {
    transform: rotate(-15deg);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: rotate(90deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    opacity: 1;
  }
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes luz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  opacity: 0;
  animation: aparecer 1.2s ease-out forwards;
  animation-delay: 1.6s;
  overflow-x: hidden;
  z-index: 20;
}



 @media (min-width: 340px) and (max-width: 395px) {
 .hero2{

  min-height: 115vh;

 }  

}
 @media (min-width: 396px) {
 .hero2{

  min-height: 88vh;

 }  

}

  

.part1{
  margin-top: 50px;

}

.textp1{
  margin: 0 12%;
}

.animation-text{
  animation: textColor 2s ease-out forwards;
  animation-delay: 3s;
  color: rgb(255, 253, 253);
}

.animation-text::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #8c19b3;
  margin-top: 104px;
  width: 330px;
  height: 60px;

  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;

  animation: bgGrow 2s ease-out forwards;
  animation-delay: 3s;
}


.button{

  background: linear-gradient(to right, rgb(98, 7, 121), rgb(166, 26, 201), rgb(208, 76, 241));

  color: white;

}

@media (max-width: 600px) {
  
  .linha{

    margin-top: 8px;
    width: 335px;
    height: 4px;
    background: linear-gradient(to right, white, white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), white ,white);

}

  .linhaBranco{

    margin-top: 8px;
    width: 70%;
    height: 4px;
    background: linear-gradient(to right, rgb(55, 1, 80), rgb(55, 1, 80), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(55, 1, 80) ,rgb(55, 1, 80));

}

}

.description{

  width: 70%;
  margin-top: 10px;
  

}

.text{

  color: #000000;

}

@keyframes textColor {
  to {
    color: white;
  }
}

/* FUNDO */
@keyframes bgGrow {
  to {
    transform: scaleX(1);
  }
}


/*Parte Artes*/

.part2{
   background: linear-gradient(to bottom, #7C5E8D, #270233, #2d0b3f, #471363);
   margin-top: -10px;
}

.buttonEscuro{

  background: linear-gradient(to right, #7C5E8D, #9d37d4, #ae4de2);

}