
.ceu{
  height: 1690px;
  margin: 0;
  padding: 0;
  background: linear-gradient( to bottom, #42245e, #000);
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

}



