html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.akira{
  font-family: "Akira", "sans-serif";
}

.nelius{
  font-family: "Neulis", "sans-serif";

}

.neliusR{
  font-family: "Neulis-regular", "sans-serif";

}

.neliusB{
  font-family: "Neulis-Bold", "sans-serif";

}


.luf{
  font-family: "LUF", "sans-serif";

}

.pub{
  font-family: "Pub", "sans-serif";

}