html, body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.akira{
  font-family: "Akira", "sans-serif";
}

.nelius{
  font-family: "Neulis", "sans-serif";

}


.luf{
  font-family: "LUF", "sans-serif";

}