html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.akira{
  font-family: "Akira", "sans-serif";
}

.nelius{
  font-family: "Neulis", "sans-serif";

}


.luf{
  font-family: "LUF", "sans-serif";

}

.pub{
  font-family: "Pub", "sans-serif";

}