@import "tailwindcss";


@font-face {
  font-family: "Akira";
  src: url("./font/AkiraExpanded.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neulis";
  src: url("./font/Neulis.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}