@import "tailwindcss";


@font-face {
  font-family: "Akira";
  src: url("./font/AkiraExpanded.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neulis";
  src: url("./font/NEULISNEUE.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LUF";
  src: url("./font/LUFGALIGHT.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}